<div class="threadDetails">
  <p class="threadDetails-title">
    {{name}}
  </p>
  <p class="threadDetails-author>
    {{postedby}}
  </p>
  <div class="threadDetails-urlName">{{urlname}}</div>
</div>

