<div class="thread">
  {{>includes/threadDetails}}
  
  {{#comments}}
    <div class="comment">
      <div class="comment-authorDetails">
        <h4 class="comment-authorDetails-name">{{postedby}}</h4>
        <p class="comment-authorDetails-timeCreated">
          {{created}}
        </p>
      </div>
      <div class="comment-content">
        {{{content}}}
      </div>
    </div>
  {{/comments}}
</div>
